{% extends "../base.html" %}

<!---->

{% block content %}
<h1>
  Helsingin yliopiston matemaattis-luonnontieteellisten opiskelijajärjestöjen
  yhteistyöjärjestö Matlu ry
</h1>
<p>
  Matlu on Helsingin yliopiston matemaattis-luonnontieteellisen tiedekunnan
  opiskelijajärjestöjen edunvalvonta- ja yhteistyöjärjestö. Näiltä sivuilta
  löydät tietoa Matlusta sekä sen jäsenjärjestöistä. Jokainen jäsenjärjestön
  jäsen on tervetullut mukaan Matlun toimintaan edistämään järjestöjen välistä
  yhteistyötä!
</p>
<p>
  Parhaiten Matlun toimintaan pääsee mukaan seuraamalla
  <a href="https://facebook.com/Matlury/">facebook-ryhmää</a> sekä
  matlu-list-sähköpostilistaa. Sähköpostilistalle voi liittyä lähettämällä
  (ilman otsikkoa) viesti <code>subscribe matlu-list</code> osoitteeseen
  <a href="mailto:majordomo@helsinki.fi">majordomo@helsinki.fi</a>.
  Sähköpostilistalle lähetetään ajankohtaista tietoa Matlua, sekä sen
  jäsenjärjestöjä koskien.
</p>

<h2>Ajankohtaista</h2>
<p>
  Matlun kulunkorvauslomake löytyy nyt sähköisenä
  <a href="tämän linkin takaa" target="_blank">tämän linkin</a> takaa.
</p>

<h2>Mikä Matlu on?</h2>
<p>
  Matlu on vuonna 1994 perustettu matemaattis-luonnontieteellisen tiedekunnan
  opiskelijajärjestöjen edunvalvonta- ja yhteistyöjärjestö.
</p>
<p>
  Matlun ydintoimintaa on tiedekuntatason edunvalvonta. Aktiivinen yhteydenpito
  tiedekunnan henkilökuntaan, hallinnon opiskelijaedustajiin sekä
  ylioppilaskuntaan mahdollistavat nopean ja kattavan tiedonkulun. Viime vuosina
  tärkeäksi keskustelufoorumiksi on vakiintunut tiedekuntasauna, jossa
  henkilökunta ja ainejärjestöjen edustajat pääsevät keskustelemaan
  opintoasioista rennossa tunnelmassa. Lisää
  <a href="/interests">edunvalvonnasta</a>.
</p>
<p>
  Matlun rooli yhteistyöjärjestönä näkyy lukuisissa oppiaine- ja tiedekuntarajat
  ylittävissä tapahtumissa. Vuosittaisiin tapahtumiin lukeutuu MEGAsuunnistus,
  joukkoliikenne-sekä useita bileitä ja sitsejä. Lisätietoja
  <a href="/calendar">tapahtumakalenterissa</a>.
</p>
<p>
  Matlu toimii myös Domus Gaudiumilla sijaitsevan Matlu-klusterin
  ylläpitäjäjärjestönä. Kerhotilaa hallinnoi erillinen leppätalokomitea. Katso
  <a target="_blank" href="https://ilotalo.matlu.fi/?page=reservation"
    >varauskalenteri</a
  >.
</p>

<h2>Keitä Matlu on?</h2>
<p>
  Matlun varsinaisia jäseniä ovat <a href="/members">järjestöt</a>, välillisiä
  puolestaan kaikki jäsenjärjestöihin liittyneet opiskelijat.
</p>
<p>
  Toimeenpaneva elin on hallitus, joka koostuu 8-18 jäsenjärjestöjen jäsenistä.
  Halituspaikkoja pyritään jakamaan mahdollisimman laajasti kaikkien tiedekunnan
  oppiaineiden opiskelijoille. Hallituksen lisäksi toimintaa tukevat myös
  virkailijat sekä jäsenjärjestöjen aktiivit.
  <a href="/board">Hallitus ja virkailijat</a>.
</p>

<h2>Miten Matlu toimii?</h2>
<p>
  Matlun hallitus kokoustaa noin kerran kuukaudessa. Kokoukset ovat avoimia
  kaikille jäsenjärjestöjen jäsenille ja niistä tiedotetaan matlun
  sähköpostilistalla. Kokouspaikkana toimii useimmiten Matlu-klusteri.
</p>

<h2>Keneltä kysyä?</h2>
<p>
  Matlun toimintaan voi tulla mukaan milloin tahansa. Matlussa pääsee helposti
  mukaan poikkitieteelliseen toimintaan, jossa löytyy varmasti jokaiselle
  jotakin. Olemme myös avoimia uusille tapahtuma- ja toimintaideoille.
</p>
<p>
  Lisätietoja keneltä tahansa <a href="/members">hallituksen jäseneltä</a>,
  erityisesti puheenjohtajalta: <a href="mailto:pj@matlu.fi">pj@matlu.fi</a>
</p>
{% endblock %}
